:root{
  --secondary--color: #0a4277;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

/* BACKGROUND STYLING  */
.bg--main{
  min-width: 375px;
  background: rgb(241,241,241);
background: linear-gradient(70deg, rgba(241,241,241,1) 0%, rgba(199,238,255,1) 27%, rgba(171,228,255,1) 46%, rgba(242,242,242,1) 78%);
  /* border: 2px solid black; */
}

/* CUSTOM STYLINGS */
.font--small{
  font-size: .8rem;
}
.h--font{
  font-size: 3.5rem;
  line-height: 1.1;
}
.secondary--color{
  color: var(--secondary--color);
}
.bg--secondary{
  background-color: var(--secondary--color);
}
.right--text{
  width: 60%;
}

/* ---------------------- HEADER STYLING ------------------- */

/* NAVBAR STYLING  */
#myNavbar{
  transition: background-color .2s ease-in-out;
}
#myNavbar:not(:hover){
  transition-delay: 0.8s; 
}
#myNavbar:hover{
  background-color: #fff;
}
/* MEDICAL ID MEGAMENU STYLINGS  */
.med--menu{
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease-in-out;
  background-color: white;
}
.med--id:hover .med--menu{
  display: block;
  max-height: 100%;
}
.med--card:hover{
  background-color: rgba(0, 0, 0, 0.103);
  cursor: pointer;
}
.med--link:hover{
  background-color: rgba(179, 248, 225, 0.336);
}
/* Ad Image Styling  */
.ad--img{
  height: 30vh;
  background-color: rgba(179, 248, 225, 0.336);
  background-image: url('./assets/images/watch.png');
  background-position: center;
  background-size: cover;
}

/* ---------------------- MAIN STYLING ------------------- */



@media (max-width: 575.98px) {
  .h--font{
      font-size: 2.5rem;
  }
}
@media (max-width: 991px){
  .right--text{
      width: 100% !important;
      font-size: .9rem;
  }
}
